/* all the css will be here */
/* Nav  */

.Nav-wraper{
  position: sticky;
  position: fixed;
  width: 100%;
  justify-content: center;
   
}
.nav-instegram-container{
  display: flex;
  justify-content: center;
  /* background-color: blue; */
  /* width: 100%; */
  padding: 0 9em;
  background-color: white;
  border-bottom: 1px solid grey;


}







/* Main */
.page-wraper{
  display: flex;
  justify-content: center;
  /* background-color: red; */
  padding: 5em 0;
}



 
.page-wraper .main-instegram-container{
  
}

.page-wraper .main-instegram-container .img-container img{
/* padding: 5em 0; */
width:350px ;
/* height: 600px; */
}
.page-wraper .main-instegram-container .icons-contaier{
  display: flex;
  justify-content: space-between;
}
.page-wraper .main-instegram-container .icons-contaier ul{
  list-style: none;
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: start;
  /* padding: 0 5em;  */
  
  /* justify-content: space-between; */
  background-color: brown;
 
}
.page-wraper .main-instegram-container .icons-contaier ul li{
 display: flex;
    justify-content: space-around;
    margin-right: 15px;
}


@media screen {
/* max with : 736 px */
}